# HBase 配置文件

hbase.rootdir=file:///hbase-data
hbase.zookeeper.quorum=zookeeper-1,zookeeper-2,zookeeper-3
hbase.zookeeper.property.clientPort=2181
hbase.cluster.distributed=true
hbase.master.info.port=16010
hbase.regionserver.info.port=16030
hbase.tmp.dir=/tmp/hbase-tmp

# 性能调优
hbase.regionserver.handler.count=30
hbase.client.write.buffer=2097152
hbase.hregion.max.filesize=10737418240
hbase.hregion.memstore.flush.size=134217728
