databaseName: etc

dataSources:
  ds_0:
    url: jdbc:mysql://mysql0:3306/etc?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 30
    minPoolSize: 1
  ds_1:
    url: jdbc:mysql://mysql1:3306/etc?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 30
    minPoolSize: 1

rules:
  - !SHARDING
    tables:
      pass_record:
        actualDataNodes: ds_${0..1}.pass_record_${0..1}
        databaseStrategy:
          standard:
            shardingColumn: plate_hash
            shardingAlgorithmName: pass_record_db_inline
        tableStrategy:
          standard:
            shardingColumn: plate_hash
            shardingAlgorithmName: pass_record_tbl_inline
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflake
    shardingAlgorithms:
      pass_record_db_inline:
        type: INLINE
        props:
          algorithm-expression: ds_${plate_hash % 2}
      pass_record_tbl_inline:
        type: INLINE
        props:
          algorithm-expression: pass_record_${(plate_hash / 2) % 2}
    keyGenerators:
      snowflake:
        type: SNOWFLAKE
  - !BROADCAST
    tables:
      - sys_user
      - sys_role
      - vehicle
      - checkpoint
      - checkpoint_dim
      - checkpoint_flow
      - agg_checkpoint_minute
      - violation
      - clone_plate_detection
      - alert
      - appeal
      - query_history
