databaseName: etc

dataSources:
  ds_0:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    jdbcUrl: jdbc:mysql://mysql0:3306/etc?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: etc
    password: etcpass
    maxPoolSize: 30
  ds_1:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    jdbcUrl: jdbc:mysql://mysql1:3306/etc?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: etc
    password: etcpass
    maxPoolSize: 30

rules:
  - !SHARDING
    tables:
      pass_record:
        actualDataNodes: ds_${0..1}.pass_record_${0..1}
        databaseStrategy:
          standard:
            shardingColumn: plate_hash
            shardingAlgorithmName: pass_record_db_inline
        tableStrategy:
          standard:
            shardingColumn: plate_hash
            shardingAlgorithmName: pass_record_tbl_inline
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflake
    broadcastTables:
      - checkpoint_dim
    shardingAlgorithms:
      pass_record_db_inline:
        type: INLINE
        props:
          algorithm-expression: ds_${plate_hash % 2}
      pass_record_tbl_inline:
        type: INLINE
        props:
          algorithm-expression: pass_record_${plate_hash % 2}
    keyGenerators:
      snowflake:
        type: SNOWFLAKE

props:
  sql-show: true

