# ShardingSphere Proxy 数据源配置
# 版本: 5.4.1

databaseName: etc_db

dataSources:
  ds_0:
    url: jdbc:mysql://mysql-1:3306/etc_db?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: etc123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
    minPoolSize: 1
  ds_1:
    url: jdbc:mysql://mysql-2:3306/etc_db?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: etc123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
    minPoolSize: 1

rules:
  - !SHARDING
    tables:
      pass_record:
        actualDataNodes: ds_${0..1}.pass_record
        tableStrategy:
          standard:
            shardingColumn: checkpoint_id
            shardingAlgorithmName: checkpoint_mod
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflake
      violation:
        actualDataNodes: ds_${0..1}.violation
        tableStrategy:
          standard:
            shardingColumn: id
            shardingAlgorithmName: id_mod
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflake
      clone_plate_detection:
        actualDataNodes: ds_${0..1}.clone_plate_detection
        tableStrategy:
          standard:
            shardingColumn: id
            shardingAlgorithmName: id_mod
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflake
      checkpoint_flow:
        actualDataNodes: ds_${0..1}.checkpoint_flow
        tableStrategy:
          standard:
            shardingColumn: checkpoint_id
            shardingAlgorithmName: checkpoint_mod
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflake
    broadcastTables:
      - sys_user
      - sys_role
      - vehicle
      - checkpoint
      - station
      - alert
      - appeal
    shardingAlgorithms:
      checkpoint_mod:
        type: MOD
        props:
          sharding-count: 2
      id_mod:
        type: MOD
        props:
          sharding-count: 2
    keyGenerators:
      snowflake:
        type: SNOWFLAKE
        props:
          worker-id: 1
